<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить категорию</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/add_category.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/sidebar.css') }}">
    
    <script src="{{ url_for('static', filename='scripts/sidebar.js') }}"></script>
</head>
<body>
    <header>
        <div class="top-bar">
            <nav class="tophat">
                <div class="Line"></div>
            </nav>
        </div>
    </header>
    
    <h1>Добавить категорию</h1>

    <div class="sidebar">
        <div class="profile-container">
            {% if current_user.is_authenticated %}
                {% if current_user.avatar %}
                    <img class="profile-image" src="{{ url_for('static', filename='avatars/' + current_user.avatar) }}" alt="Avatar">
                {% else %}
                    <img class="profile-image" src="{{ url_for('static', filename='avatars/default.jpg') }}" alt="Default Avatar">
                {% endif %}
                <span class="username">{{ current_user.username }}</span>
            {% else %}
                <a href="{{ url_for('login') }}">Войти</a>
            {% endif %}
        </div>
        
        <div class="return-to-main-container">
            <button onclick="returnToMainPage()" class="return-to-main-button">На главную</button>
        </div>
        <div class="return-to-dashboard-container">
            <button onclick="returnToDashboard()" class="return-to-dashboard-button">Вернуться в личный кабинет</button>
        </div>
        <div class="return-to-genres-container">
            <button onclick="returnToGenres()" class="return-to-genres-button">Жанры</button>
        </div>
        <div class="return-to-news-container">
            <button onclick="returnToNews()" class="return-to-news-button">Форум</button>
        </div>
        <div class="return-to-shop-container">
            <button onclick="returnToShop()" class="return-to-shop-button">Магазин</button>
        </div>
    
        <div class="return-to-cart-container">
          <button onclick="returnToCart()" class="return-to-cart-button">Корзина</button>
      </div>
    
        <div class="return-to-feedback-container">
            <button onclick="openFeedback()" class="return-to-feedback-button">Обратная связь</button>
        </div>
    
    </div>
    
    <div class="toggle-btn" onclick="toggleSidebar()">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <form method="POST" enctype="multipart/form-data">
        <label for="name">Название категории</label>
        <input type="text" name="name" id="name" required>
        <label for="image">Изображение категории</label>
        <input type="file" name="image" id="image" accept="image/*" required>
        <button type="submit">Сохранить</button>
    </form>
</html>
