<!-- admin_feedback.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/admin_panel.css') }}">

    <title>Сообщения обратной связи</title>
</head>
<body>
    <nav class="tophat">
        <div class="top-bar">
            <a href="{{ url_for('index') }}" class="logo-link">
                <div class="logo-wrapper">
                    <div class="logo-overlay"></div>
                    <img class="Logo" src="{{ url_for('static', filename='images/Logo.png') }}" alt="Logo">
                </div>
            </a>
            <div class="Line"></div>
            <a href="{{ url_for('admin_panel') }}" class="admin-link">Админ панель</a>
        </div>
    </nav>

    <div class="container">
        <h1>Сообщения обратной связи</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Email</th>
                    <th>Сообщение</th>
                </tr>
            </thead>
            <tbody>
                {% for message in feedback_messages %}
                <tr>
                    <td>{{ message.id }}</td>
                    <td>{{ message.name }}</td>
                    <td>{{ message.email }}</td>
                    <td>{{ message.message }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
