<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/cab.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/sidebar.css') }}">
    
    <script src="{{ url_for('static', filename='scripts/sidebar.js') }}"></script>
    <title>Регистрация</title>
</head>

<body>
    <p>
    <div class="top-bar">
        <div class="tophatimg">  
        </div>
        <nav class="tophat">
            <div class="Line"></div>
        </nav>
        <div class="sidebar">
            <div class="profile-container">
                {% if current_user.is_authenticated %}
                    {% if current_user.avatar %}
                        <img class="profile-image" src="{{ url_for('static', filename='avatars/' + current_user.avatar) }}" alt="Avatar" class="avatar">
                    {% else %}
                        <img class="profile-image" src="{{ url_for('static', filename='avatars/default.jpg') }}" alt="Default Avatar" class="avatar">
                    {% endif %}
                    <span class="username">{{ current_user.username }}</span>
                {% else %}
                    <a href="{{ url_for('login') }}">Войти</a>
                {% endif %}
            </div>
            
            <div class="return-to-main-container">
                <button onclick="returnToMainPage()" class="return-to-main-button">На главную</button>
            </div>
            <div class="return-to-dashboard-container">
                <button onclick="returnToDashboard()" class="return-to-dashboard-button">Вернуться в личный кабинет</button>
            </div>
            <div class="return-to-genres-container">
                <button onclick="returnToGenres()" class="return-to-genres-button">Жанры</button>
            </div>
            <div class="return-to-news-container">
                <button onclick="returnToNews()" class="return-to-news-button">Форум</button>
            </div>
            <div class="return-to-shop-container">
                <button onclick="returnToShop()" class="return-to-shop-button">Магазин</button>
            </div>
        </div>
        
        <div class="toggle-btn" onclick="toggleSidebar()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        
    
        <div class="block-cab">
            <div class="cabblock">
                {% if error %}
                    <p class="error-message"> {{ error }}</p>
                {% endif %}
                <form method="post" action="/Cab" enctype="multipart/form-data">
                    <label for="username">Логин:</label>
                    <input type="text" id="username" name="username" required>
                    <label for="password">Пароль:</label>
                    <input type="password" id="password" name="password" required>
                    <label for="email">Почта:</label>
                    <input type="email" id="email" name="email" required>
                    <label for="avatar">Аватар:</label>
                    <input type="file" id="avatar" name="avatar">
                    <input type="submit" value="Отправить">
                </form>
                <a href="/login" class="login-link">Уже зарегистрированы?</a>
            </div>
        </div>
    </p>
</body>

</html>
