<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подтверждение заказа</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cart.css') }}">
</head>
<body>
    <header>
        <h1>Подтверждение заказа</h1>
    </header>

    <main class="order-confirmation-container">
        <h2>Спасибо за ваш заказ, {{ current_user.username }}!</h2>
        <p>Номер заказа: {{ order.id }}</p>
        <p>Дата и время создания заказа: {{ order.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
        <p>Общая сумма: {{ order.total_price }} руб.</p>

        <div class="order-items">
            <h3>Состав заказа:</h3>
            <ul>
                {% for item in order_items %}
                    <li>{{ item.product.name }} - {{ item.quantity }} шт. - {{ item.product.price * item.quantity }} руб.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="return-link">
            <a href="{{ url_for('shop') }}">Вернуться к покупкам</a>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Jiyu no Kikai. Все права защищ
